@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Mochiy+Pop+P+One&display=swap');

body {
    background-color: #f4f1de;
    font-size: 22px;
    font-family: "Exo 2", "Didot Serif", "Trebuchet MS";
    margin: 0;
    padding: 0;
}

#logo-link {
    padding-top: 5px;
}

.logo {
    width: 110px;

}

div.content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}


#hero-msg {
    text-align: center;
}

#hero-img {
    width: 1000px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #e07a5f;
}

header {
    background-color: #e07a5f;
    color: #f4f1de
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    display: block;
}

nav a:hover {
    background-color: #e07a5f;
    color: #f4f1de;
}

.book:hover, .join:hover {
    background-color: #e07a5f;
    color: #f4f1de;
}

.msg {
    background-color: #f4f1de;
    line-height: 1.5em;
    padding: 35px;
}

p {
    background-color: #e07a5f ;
    color: #f4f1de;
}

footer {
    background-color: #f4f1de;
    margin-top: 200px;
}

footer .social img {
    padding: 15px;
}

nav a {
    text-align: center;
    color: #3d405b;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}


.home-title {
    color: #3d405b;
    font-size: 2em;
    margin-top: 10px;
}

h4 {   
    color: #3d405b;
}

h2 {
    text-align: center;
    margin: 0;
    color: #3d405b
}

h1 {
    color: #3d405b
}

.book, .join {
    color: #3d405b;
    background-color: #f4f1de;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    border: 10px solid #3d405b ;

}

.msg h2 {
    color: #3d405b;
}

.msg p {
    color: #3d405b;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: #3d405b;
}

footer a {
    color: #3d405b;
    text-decoration: none;
}

footer a:hover {
    color: #3d405b;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer {
    text-decoration: underline;
    padding: 25px 50px;
}

h3 {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Mochiy Pop P One","Didot Serif", "Trebuchet MS";
    color: #81b29a;
  }